:root {
	background-color: #ecf5ff;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
}

.input-field {
	border: none;
	width: 25rem;
	height: 5rem;
	background-color: transparent;
}

.item {
	background-color: skyBlue;
	height: 100px;
	padding: 20px;

}

.pink {
	background-color: pink;
}